*{
  background-color: rgb(10, 25, 47);
  color:aquamarine;
  font-family: Andika;
}
.flex-text{
  padding-top: 35vh;
  padding-left: 55vh;
}
.container{
  display: flex;
  flex-direction: row;
}
img{
  height: 630px;  
  width: 630px;
  padding-left: 10vh;
  padding-top: 7vh;
  border-radius: 50%;
}
