*{
    padding:0px;
    margin:0px;
    font-family: Andika;
}
body{
    background-color:antiquewhite;
}
ul {
    list-style-type:none;
    margin: 0;
    padding-bottom: 0px;
    overflow:hidden;
  }
  li{
    float:right;
  }
  li a {
    display: block;
    color: rgb(71, 37, 37);
    text-align: center;
    padding: 11px 51px;
    text-decoration:wavy;
    background-color: antiquewhite
  }
  li a:hover {
    background-color: antiquewhite;
    color: black;
  }
  footer{
    text-align: right;
    padding-left: 0px;
  }
  